/*............................*/
/*         color             */
/*..........................*/
/*............................*/
/*         font               */
/*............................*/
/*............................*/
/*         transition               */
/*............................*/
.heading {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.heading-hug {
  font-size: 6rem;
  letter-spacing: 1.6rem; }

.heading-big {
  font-size: 3.5rem;
  letter-spacing: .2rem;
  color: #777;
  display: inline-block;
  text-align: center; }

.heading-underline {
  width: 5rem;
  height: .2rem;
  background-color: #460000;
  margin: 0 auto 1rem; }

.heading-medium {
  font-size: 2rem;
  letter-spacing: .1rem; }

.heading-small {
  font-size: 1.6rem;
  display: block; }

.center-heading {
  text-align: center; }

.text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #333; }

.btn {
  width: max-content;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  padding: 1rem .8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: #ab3f3f; }
  .btn:hover {
    transform: scale(1.2) translateY(2px); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #141414; }

li {
  list-style: none;
  display: inline-block; }

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content); }

.header {
  grid-row: 1/2;
  height: 4rem;
  padding: 1.2rem;
  background-color: #0b1024;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  .header__ul {
    display: inline-block; }
  .header__items {
    margin-right: 2.5rem;
    transition: .5s ease-out; }
    .header__items:hover {
      transform: translate(1px, 2px) rotate(-20deg) scale(1.2); }
  .header__svg {
    height: 1.4rem;
    width: 2rem;
    fill: #ab3f3f;
    margin-top: .5rem; }
  .header__eindhoven-img {
    display: inline-block;
    width: 10rem;
    height: 2.4rem;
    color: #ab3f3f; }

.nav {
  grid-row: 2/3;
  max-height: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  .nav__icon-box {
    padding-left: 2.5rem; }
  .nav__icon-img {
    height: 6rem; }
  .nav--ul {
    font-weight: 700;
    line-height: 1.6rem; }
  .nav--items {
    font-size: 1.7rem;
    padding-right: 4.5rem;
    transition: .5s ease-out; }
    .nav--items:hover {
      transform: translateY(3px) scale(1.15); }
  .nav--link {
    color: #ab3f3f;
    text-transform: uppercase; }

.bg-header {
  grid-row: 3/4;
  height: 95vh;
  background-image: url("../img/bg1.jpg");
  background-position: top;
  background-size: cover;
  position: relative; }
  .bg-header__box {
    margin: 0 auto;
    color: #460000;
    position: absolute;
    bottom: 3.5rem;
    right: 0;
    transform: translate(-40%, 10%); }
  .bg-header h1 {
    font-family: "Merienda", cursive;
    color: #ab3f3f;
    text-transform: uppercase; }
  .bg-header__btn {
    position: absolute;
    bottom: 7rem;
    right: 4rem; }

.about__history {
  padding-left: 2.5rem; }

.about__title {
  padding-left: 3.5rem; }

.about__slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.about__slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s; }

.about__slide--contents {
  width: 65%; }

.about__slide--quote {
  font-size: 1.5rem; }

.about__slide--address {
  display: flex; }

.about__slide--img {
  height: 5rem;
  border-radius: 50%; }

.about__slide--name {
  font-size: 1.3rem;
  color: #666; }

.about__slide--location {
  display: inline-block; }

.about__slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: transparent;
  background-color: transparent;
  color: #460000;
  cursor: pointer;
  font-size: 3.3rem;
  outline: transparent; }

.about__slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.about__slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }
  .dots__dot {
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(70, 0, 0, 0.5);
    border-radius: 50%;
    margin-right: 1.5rem;
    transition: .3s ease; }
  .dots__dot--active {
    background-color: #460000;
    transform: scale(1.1); }

.activities {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../img/P2.png");
  background-position: top;
  background-size: cover; }
  .activities__header {
    color: #b81919; }
  .activities__icons {
    font-size: 2.75rem;
    color: #ab3f3f; }
  .activities__contents {
    font-size: 1.6rem;
    color: #999;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: max-content 5rem;
    column-gap: 3.2rem;
    padding: 3.5rem; }
  .activities__1 {
    min-width: 33.3333%; }
  .activities__text {
    color: #e5e5e5;
    text-shadow: 0 5px 1rem #333; }
  .activities__btn {
    grid-row: 2/-1;
    grid-column: 2/3;
    text-align: center; }

.project {
  margin: 5rem;
  padding: 0 5rem;
  text-align: center; }
  .project__text-box {
    font-size: 1.6rem;
    line-height: 3.5rem;
    padding-bottom: 2.5rem; }

.gallery {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-gap: 1.5rem; }
  .gallery__pic--1 {
    grid-row: 1/3;
    grid-column: 1/3; }
  .gallery__pic--2 {
    grid-row: 1/4;
    grid-column: 3/5; }
  .gallery__pic--3 {
    grid-row: 1/3;
    grid-column: 5/6; }
  .gallery__pic--4 {
    grid-row: 3/6;
    grid-column: 1/3; }
  .gallery__pic--5 {
    grid-row: 1/5;
    grid-column: 6/-1; }
  .gallery__pic--6 {
    grid-row: 6/-1;
    grid-column: 1/5; }
  .gallery__pic--7 {
    grid-row: 4/6;
    grid-column: 3/5; }
  .gallery__pic--8 {
    grid-row: 5/-1;
    grid-column: 5/-1; }
  .gallery__pic--9 {
    grid-row: 3/5;
    grid-column: 5/6; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.members {
  height: 80vh;
  margin-bottom: -10rem; }
  .members__cards {
    max-width: 130rem;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden; }
  .members__card {
    width: 45rem;
    height: 50rem;
    background-color: rgba(204, 204, 204, 0.5);
    transition: 1s ease-in-out; }
  .members__img {
    height: 25rem;
    width: 100%;
    padding: 1.5rem; }
  .members__slider__btn {
    border: none;
    background-color: transparent;
    font-size: 3.5rem;
    z-index: 10;
    transition: transform 1s ease; }
  .members__dots {
    margin-top: 5rem;
    text-align: center;
    z-index: 10; }

.footer {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url("../img/bg2.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between; }
