.about {
  

  &__history {
    padding-left: 2.5rem;
  }

  &__title {
    padding-left: 3.5rem;
  }

  &__slider {

  }

  &__slide {
    max-width: max-content;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid tan;
  }

  &__slide--quote {

  }

  &__slide--address {

  }

  &__slide--img {
    height: 5rem;
  }
}