.about {
  

  &__history {
    padding-left: 2.5rem;
  }

  &__header {
    max-width: 100%;
  }
  &__title {
    padding-left: 3.5rem;
  }

  &__slider {

  }

  &__slide {
    max-width: max-content;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid tan;
  }

  &__slide--quote {

  }

  &__slide--address {
    display: flex;
  }

  &__slide--img {
    height: 5rem;
    border-radius: 50%;
  }

    &__slide--name {

    }


}