.about {
  //  background-image: linear-gradient(to right, rgba($color-white, .5), rgba($color-white, .5)), url("../img/bg2.jpg");
  //  background-position: top;
  //background-size: cover;
  //background-color: $color-gray-light-3;

  &__history {
    padding-left: 2.5rem;
  }

  //&__header {
  //  max-width: 100%;
  //  text-align: center;
  //}
  &__title {
    padding-left: 3.5rem;
  }

  &__slider {

  }

  &__slide {
    max-width: max-content;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid tan;
  }

  &__slide--quote {
    font-size: 1.5rem;
  }

  &__slide--address {
    display: flex;
  }

  &__slide--img {
    height: 5rem;
    border-radius: 50%;
  }

    &__slide--name {
      font-size: 1.3rem;
      color: $color-gray-dark-1;
    }

    &__slide--location {
      display: inline-block;
    }



}