.activities {
  height: 90vh;
  background-image: linear-gradient(rgba($color-secondary-dark, .8), rgba($color-secondary-light, .1)), url("../img/activities.png");
  background-position: top;
  background-size: cover;
  text-align: center;
  padding: 5rem 2.5rem;

  //For btn
  position: relative;

  &__contents {
    font-size: 1.5rem;
    color: $color-gray-light;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-template-rows: max-content max-content 5rem;
    justify-items: center;
    align-items: self-start;
    column-gap: 4.2rem;
    margin: 1.75rem 4.2rem;
    text-align: justify;
    text-indent: 1.5rem;
  }

  &__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    color: $color-main-light;
    font-size: 1.7rem;
    font-weight: 700;
  }

  &__icons {
    font-size: 3.5rem;
    height: 3.75rem;
    color: $color-main-dark;
  }

  &__1 {
    grid-row: 1/2;
  }

  &__2 {
    grid-row: 1/2;
  }

  &__3 {
    grid-row: 1/2;
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    line-height: 1.7;
    font-size: 1.6rem;
    color: $color-gray-light-1;
    text-shadow: 0 5px 1rem $color-gray-dark;
    margin: 2.2rem 1.5rem;
  }

  &__btn {
    position: absolute;
    bottom: min(2rem);
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
}
