.activities {
  height: 90vh;
  background-image: url("../img/P2.png");
  background-position: top;
  background-size: cover;

  &__contents {
    font-size: 1.6rem;
    color: $color-gray-light;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 2rem;
    padding: 2.5rem;
  }

  &__1 {
    //width: 33.3333%;
  }

  &__2 {
    //width: 33.3333%;
  }

  &__3 {
    //width: 33.3333%;
  }

  &__text {
    color: $color-gray-light-2;
  }

}