.activities {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .2)), url("../img/P2.png");
  background-position: top;
  background-size: cover;

  &__header {
    color: $color-main-light;

  }

  &__icons {
    font-size: 4rem;
    height: 25rem;
    color: $color-main;
  }

  &__contents {
    font-size: 1.6rem;
    color: $color-gray-light;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: max-content 5rem;
    column-gap: 3.2rem;
    padding: 3.5rem;
  }

  &__1 {
    min-width: 33.3333%;
  }

  &__2 {
    //width: 33.3333%;
  }

  &__3 {
    //width: 33.3333%;
  }

  &__text {
    color: $color-gray-light-2;
    text-shadow: 0 5px 1rem $color-gray-dark;
  }

  &__btn {
    grid-row: 2/-1;
    grid-column: 2/3;
    text-align: center;
  }

}