*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  //overflow: hidden;
}

html {
  font-size: 65.5%;  //1rem = 10px >>> 10/ 16 = 62.5%
}

body {
  font-family: $font-family-main;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray;
  box-sizing: border-box;

  //background-image: url("../img/P1.jpg");
  //background-size: cover;
  //background-position: top;
}

a {
  text-decoration: none;
  color: $color-gray-dark-3;
}

li {
  list-style: none;
  display: inline-block;
}

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  //grid-template-columns: ;
}