.bg-header {
  grid-row: 3/4;
  height: 95vh;
  background-image: url("../img/bg1.jpg");
  background-position: top;
  background-size: cover;

  &__box {
    margin: 0 auto;
    color: $color-main-dark;
  }
  h1 {
    margin: 0 auto;
  }
  &__btn {

  }
}