.bg-header {
  grid-row: 3/4;
  height: 95vh;
  background-image: url("../img/bg1.jpg");
  background-position: top;
  background-size: cover;

  position: relative;

  &__box {
    margin: 0 auto;
    color: $color-main-dark;
    position: absolute;
    bottom: 3.5rem;
    right: 0;
    transform: translate(-40%, 10%);
  }

  h1 {
    font-family: $font-family-complex;
    color: $color-main;
    text-transform: uppercase;
  }

  &__btn {
    position: absolute;
    bottom: 7rem;
    right: 4rem;
  }
}