.footer {
  height: 100vh;
  background-image: linear-gradient(rgba($color-white, .9), rgba($color-white, .5)), url("../img/bg2.jpg");
  background-position: top;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  //align-items: center;

  &__left {
    text-shadow: 1px 2px 3px;
    align-self: center;
  }

  &__right {
    align-self: flex-end;

  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  &__input {
    font-size: 1.6rem;
    font-family: "Merienda", cursive;
    border: 1px solid $color-gray-light;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    padding: .75rem 1.5rem;
    outline: none;
  }

}