.footer {
  max-height: 80vh;
  background-image: linear-gradient(rgba($color-secondary-dark, .9), rgba($color-secondary-light, .5)), url("../img/contact2.jpg");
  background-position: bottom;
  background-size: cover;

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__left {
    text-shadow: 1px 2px 3px;
    align-self: flex-start;
  }

  &__icon-box {
    width: 5.5rem;
    margin: 0 auto;
    padding-top: 2.2rem;
  }

  &__icon-img {
    width: 100%;
    border-radius: 50%;
  }

  &__ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__items {
    transition: all .5s ease-in-out;
    text-align: center;

    &:hover {
      transform: translate3d(0, -10px, 2px) rotate3d(3, 1, 0, 50deg);
    }
  }

  &__link {
    &:after {
      content: ":";
      color: $color-gray-light-3;
      margin-left: -2rem;
      margin-bottom: -2rem;
    }
  }

  &__svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
    fill: $color-gray-light-3;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, .1);
  }

  &__right {
    align-self: flex-end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 2.5rem;
    margin-top: 1.75rem;
  }

  &__input {
    font-size: 1.6rem;
    font-family: "Merienda", cursive;
    border: 1px solid $color-gray-light;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    padding: .75rem 1.5rem;
    outline: none;
  }

  &__arrow {
    align-self: flex-end;
    fill: $color-main-dark;

    &--svg {
      //font-size: 3.5rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &__maker {
    width: 100%;
    //height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.2rem;

    &--name {
      border-bottom: 1px solid $color-gray-light-1;
      font-style: oblique;
      font-size: 1.2rem;
      letter-spacing: .3rem;
      color: $color-gray-light-3;
      padding-bottom: 1rem;
      display: inline-block;
      text-transform: capitalize;
      text-align: center;
    }

    &--email {
      width: 2rem;
      height: 2rem;
      fill: $color-gray;
      transform: rotate(20deg);
      margin-left: .5rem;
      margin-bottom: -.5rem;
      transition: all .5s ease;

      &:hover {
        fill: $color-secondary-dark;
        transform: rotate(0) scale(1.2);
      }
    }
  }
}