.footer {
  height: 40vh;
  background-image: linear-gradient(rgba($color-secondary-dark, .9), rgba($color-secondary-light, .5)), url("../img/contact2.jpg");
  background-position: bottom;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  //align-items: center;

  &__left {
    text-shadow: 1px 2px 3px;
    align-self: center;
  }

  &__ul {
  text-align: center;
  }

  &__items {
    transition: all .5s ease-in-out;

    &:hover {
      transform: translate3d(0, -10px, 2px) rotate3d(3, 1, 0, 50deg);

    }
  }
  &__link {

  }
  &__svg {
    width: 4.25rem;
    height: 3.2rem;
    margin-right: 2.5rem;
    fill: $color-gray-light-3;

        box-shadow: 50px 10px 10px rgba(0,0,0, .1);

  }


  &__right {
    align-self: flex-end;

  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  &__input {
    font-size: 1.6rem;
    font-family: "Merienda", cursive;
    border: 1px solid $color-gray-light;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    padding: .75rem 1.5rem;
    outline: none;
  }

  &__arrow {
    align-self: flex-end;
    &--svg {
      //font-size: 3.5rem;
      width: 3.75rem;
      height: 3.5rem;
    }
  }

}