.heading {
  font-weight: 700;
  font-family: $font-family-main;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.heading-hug {
  font-size: 6rem;
  letter-spacing: 1.6rem;
  //color: $color-gray-dark-1;
}

.heading-big {
  font-size: 3.5rem;
  letter-spacing: .2rem;
  color: $color-gray-dark;
  display: inline-block;
  text-align: center;
}

.heading-underline {
  width: 5rem;
  height: 2rem;
  background-color: black;
  margin: 0 auto 1rem;
}

.heading-medium {
  font-size: 2rem;
  letter-spacing: .1rem;
}

.heading-small {
  font-size: 1.6rem;
  display: block;
}