.header {
  grid-row: 1/2;
  height: 4rem;
  padding: 1.2rem;
  background-color: $color-gray-light-2;

  &__contents {

  }

  &__ul {
    display: inline-block;
  }

  &__items {
    //font-size: 1.6rem;

  }

  &__link {
  }

  &__svg {
    height: 2rem;
    width: 4rem;
    fill: $color-main;
  }
}