.header {
  grid-row: 1/2;
  height: 5rem;
  padding: 2rem;

  &__contents {

  }

  &__ul {
    display: inline-block;
  }

  &__items {

  }

  &__link {

  }

  &__svg {
    height: 2rem;
    width: 4rem;
    fill: $color-main;
  }
}