.heading {
  //font-weight: 700;
  font-family: $font-family-main;
  text-transform: uppercase;
  display: inline-block;
  //margin-bottom: 2rem;
  margin-top: 1.75rem;
}

.heading-hug {
  font-size: 6rem;
  font-family: $font-family-complex;
  letter-spacing: 1.6rem;
  color: $color-main;
}

.heading-big {
  font-size: 3.5rem;
  font-family: $font-family-simple;
  letter-spacing: .2rem;
  color: $color-gray-dark;
  display: inline-block;
  text-align: center;
}

.heading-underline {
  width: 5rem;
  height: .2rem;
  background-color: $color-main-dark;
  margin: 0 auto 1rem;
}

.heading-medium {
  font-size: 2rem;
  letter-spacing: .1rem;
  color: $color-main;
  //margin-top: 3rem;
}

.heading-small {
  font-size: 1.6rem;
  display: block;
}

.center-heading {
  text-align: center;
}