.map {

  &__content {
    margin: 4.2rem;
    background-color: $color-secondary-dark;
  }
  &-bg {
  background-image: url("../img/activities.png");
  height: 50vh;
  background-size: cover;
  background-position: top;
  //margin: 0 auto;
  text-align: center;
}
  &__content {
    display: flex;
  }

  &__forms {
    width: max-content;
    height: 100%;
    background-color: $color-main-dark;
    padding: 5rem;
  }

  &__form {
    width: 50rem;
    background-color: $color-gray-light;

    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    //width: max-content;
    border: 1px solid $color-gray-light-3;
    padding: .75rem .5rem;
    margin: 1rem 1.2rem;
    border-radius: 7px;
    background-color: $color-gray-light-2;
    color: $color-gray-dark-3;
    font-size: 1.5rem;
    font-weight: 400;
  }
}