.members {
  background-image: linear-gradient( rgba($color-white, .75), rgba($color-gray-dark-2, .5)), url("../img/bg2.jpg");
  height: 90vh;
  background-position: top;
  background-size: cover;


  &__header {

  }

  &__cards {
    max-width: 130rem;
    margin: auto;
    display: flex;
    //flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    //position: relative;
    overflow: hidden;
  }

  &__card {
    width: 42rem;
    height: 50rem;
    background-color: rgba(255,255,255,.5);
    //margin-right: 3.5rem;
  }


  &__img {
    height: 25rem;
    width: 100%;
  }

  &__name {

  }

  &__text {

  }

  &__date {

  }

  &__from {

  }

  &__slider__btn {
    border: none;
    background-color: transparent;
    font-size: 3.5rem;
    z-index: 10;
    //position: absolute;
    transition: transform 1s ease;
  }

  &__slider__btn--left {

  }

  &__slider__btn--right {


  }

  &__dots {
    flex-direction: column;
    color: #460000;
  }

}