.members {
  background-image: linear-gradient( rgba($color-white, .75), rgba($color-gray-dark-2, .5)), url("../img/bg2.jpg");
  height: 90vh;
  background-position: top;
  background-size: cover;


  &__header {

  }

  &__cards {
    margin: 2rem 5rem;
    display: grid;
    //grid-template-columns: repeat(au);
  }

  &__card {

  }

  &__img {

  }

  &__name {

  }

  &__text {

  }

  &__date {

  }

  &__from {

  }

}