.members {
  background-image: linear-gradient(to right, rgba($color-white, .5), rgba($color-white, .5)), url("../img/bg2.jpg");
  height: 90vh;
  background-position: top;
  background-size: cover;
}