.moreMembers__header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba($color-gray-dark-3, .35), rgba($color-gray, .5)), url("../img/DSCF5697.JPG");
  background-position: top;
  background-size: cover;
   clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100% );

  &__heading {
    text-align: center;
  }
}

.moreMembers {
  //background-color: $color-secondary-dark;
  //background-image: linear-gradient(to bottom, $color-secondary-dark, $color-gray-light);
  //height: 200vh;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 2rem 5rem;
    height: max-content;

    & > * {
      margin: 5rem 5rem;
    }
  }
}

