.nav {
  grid-row: 2/3;
  max-height: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &__icon-box {
    padding-left: 2.5rem;
  }

  &__icon-img {
    height: 6rem;
  }

  &__nav-box {

  }

  &--ul {
    font-weight: 700;
    line-height: 1.6rem;
  }

  &--items {
    font-size: 1.7rem;
    padding-right: 4.5rem;
    transition: .5s ease-out;

    &:hover {
      transform: translateY(3px) scale(1.15);
    }
  }

  &--link {
    color: $color-main;
    text-transform: uppercase;
  }
}