.nav {
  grid-row: 2/3;
  max-height: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 222222;

  &--stick {
    position: sticky;
    top: 4rem;
    left: 0;
  }

  &__icon-box {
    padding-left: 2.5rem;
  }

  &__icon-img {
    height: 6rem;
     @include respond(phone) {
       height: 5rem;
     }

    @media only screen and (max-width: 700px) {
      height: 4.2rem;
    }
    @include respond(most-phone) {
      height: 3.2rem;
    }
  }

  &__nav-box {

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &--ul {
    font-weight: 700;
    line-height: 1.6rem;
     @include respond(tab-port) {
    display: none;
  }
  }

  &--items {
    font-size: 1.7rem;
    padding-right: 4.5rem;
    transition: .5s ease-out;

    &:hover {
      transform: translateY(3px) scale(1.15);
    }

    @include respond(tab-land) {
      padding-right: 3.5rem;
    }
  }

  &--link {
    color: $color-main;
    text-transform: uppercase;
  }
}

.collapse-nav {
  font-size: 1.9rem;
  font-weight: 700;
  background-color: rgba($color-secondary-dark, .95);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50rem;
  text-shadow: 1px 2px 5px $color-gray;
  box-shadow: 1px 2px 5px $color-gray;
    transition: all 1s, transform .5s;


  &__box {
    display: none;
    @include respond(tab-port) {
      display: inline-block;
    }
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: transparent;
    z-index: 100000;
    margin-right: 2.5rem;
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $color-main-dark;
  }
}

.hidden {
  transform: translateY(-30rem);
  display: none;
}

