.project {
  background-image: linear-gradient(rgba($color-gray-dark, .5), rgba($color-gray-light-3, .5)), url("../img/image.jpg");
  height: 60vh;
  padding: 5rem 10rem;
  text-align: center;

  &__text-box {
    font-size: 1.6rem;
    line-height: 3.5rem;
    padding-bottom: 2.5rem;
  }

  &__btn {

  }
}