.project {
  background-image: linear-gradient(rgba($color-white, .4), rgba($color-gray-light, .8)), url("../img/image.jpg");
  background-position: center center;
  height: 70vh;
  padding: 1.75rem 20rem;
  text-align: center;

  &__text-box {
    font-size: 1.6rem;
    color: $color-gray-dark;
    line-height: 3.5rem;
   margin: 2.2rem;
  }

  &__btn {
    margin-top: 5rem;
  }
}