.project {
  max-height: max-content;
  padding: 5rem 2.5rem;

  @include respond(lab-medium) {
    padding: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &__pics {
    background-image: linear-gradient(rgba($color-white, .4), rgba($color-gray-light, .8)), url("../img/image.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    height: 70rem;

 @include respond(small-phone) {
grid-column: 1/-1;
    }

  }

  &__text-content {
    grid-column: 2/3;
    background-color: $color-gray-light-1;

     @include respond(small-phone) {
grid-column: 1/-1;
    }
  }

  &__img--box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, minmax(6rem, 8rem));
  }

  &__img--1 {
    grid-column: 2/7;
    grid-row: 3/6;
    width: 100%;
    //z-index: 10;
    @include respond(tab-land) {
      grid-column: 2/8;
    grid-row: 2/8;
    }
    img {
      width: 100%;
    }
  }

  &__img--2 {
    grid-column: 6/-1;
    grid-row: 5/7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
    @include respond(lab-medium) {
      grid-column: 5/8;
      grid-row: 5/7;
    }
    @include respond(tab-land) {
      grid-column: 2/8;
      grid-row: 6/8;
    }
    @include respond(small-phone) {
      grid-column: 4/-1;
      grid-row: 5/6;
    }

    img {
      width: 120%;
      //height: auto;
      @include respond(lab-medium) {
        width: 110%;
      }
      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(small-phone) {
        width: 90%;
      }

    }
  }


  &__text-box {
    font-size: 1.6rem;
    color: $color-gray-dark;
    line-height: 3rem;
    margin: 2.5rem 10rem;
    text-align: justify;

    @include respond(lab-big) {
      margin: 2.2rem 8rem;
    }

    @include respond(lab-medium) {
      margin: 2rem 6rem;
    }

    @include respond(tab-port) {
      margin: 2.1rem 7rem;
    }

    @include respond(phone) {
      margin: 1rem 4rem;
    }

    p {
      margin-top: 2.5rem;
      text-indent: 2.5rem;
    }
  }

  &__quoits {
    font-style: italic;
  }

  &__btn {
    margin-top: 5rem;
    text-align: center;
    @include respond(lab-medium) {
      margin-top: 2.2rem;
    }
    @include respond(tab-port) {
      margin-top: 1.2rem;
    }
    @include respond(phone) {
      margin-top: 3rem;
  }
    @include respond(small-phone) {
      margin-bottom: 2.6rem;
      margin-top: 1.5rem;
    }

  }
}