.collection {

  &__bg {
    height: 45vh;
    background: linear-gradient(to right, rgba($color-gray-light-2, .5), rgba($color-gray, .8)), url("../img/DSCF5656.jpg") bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section {

  }

  &__content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: max-content 6rem;
    grid-template-columns: 1fr repeat(8, 1fr) 1fr;
    margin: 5rem auto;
  }

  &__pics {
    grid-column: 2/7;
    grid-row: 1/2;
  }

  &__img--box {
    text-align: center;
    //border: 1px solid black;
    //border-radius: 8px;
    //height: 40rem;
  }

  &__img {
    //width: 100%;
    border-radius: 8px;
    overflow-y: hidden;
    object-fit: contain;
  }

  &__text--box {
    grid-column: 7/10;
    grid-row: 1/2;
    margin: 2.5rem 0;
    clip-path: circle(50% at 50% 50%);
    background-color: $color-gray;
  }

  &__dots {
    grid-column: 2/7;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 2.5rem;
  }
}