.collection {
  &__bg {
    height: 100vh;
    background-image: url("../img/Backgrounds/bg-collection.jpg");
    background-size: cover;
    background-position: bottom;
  }
  &__main {
    padding: 5rem 0;
  }
  &__album {
    height: 100vh;
    width: 96vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding-top: 4rem;
  }
  &__figure {
    width: auto;
    @media only screen and (min-width: 1000px) and (max-width: 1100px) {
      max-height: 35rem;
      width: 50vw;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 10px solid #ffffff;
  }

  &--1 {
    grid-row: 3/ 7;
    grid-column: 3/ 7;
    transform: rotate(-25deg);
    z-index: 115;
    @include respond(tab-port) {
      grid-row: 1/3;
      grid-column: 1/6;
    }
  }
  &--2 {
    grid-row: 7/10;
    grid-column: 4/ 6;
    transform: rotate3d(9, 6, 10, -20deg);
    z-index: 118;
    @include respond(tab-port) {
      grid-row: 8/-1;
      grid-column: 2/7;
    }
  }
  &--3 {
    grid-row: 2/5;
    grid-column: 7/ 10;
    transform: rotate3d(2, -5, -8, -30deg);
    z-index: 130;
    @media only screen and (min-width: 1000px) and (max-width: 1100px) {
      grid-column: 5/ 9;
    }
    @include respond(tab-port) {
      transform: rotate3d(2, -5, -5, 10deg);
      grid-row: 3/5;
      grid-column: 2/ 9;
    }
  }
  &--4 {
    grid-row: 5/10;
    grid-column: 6/ 9;
    transform: rotate3d(20, 50, 10, 30deg);
    z-index: 120;
    @include respond(tab-port) {
      grid-row: 5/8;
      grid-column: 4/ 9;
    }
  }
  //Form Part
  &__form {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;

    & > * {
      font-size: 1.6rem;
      font-family: $font-family-complex;
      padding: 1.2rem;
    }
  }

  &__select {
    width: max-content;
    padding: .5rem .75rem;
    font-size: inherit;
    font-family: inherit;
    margin-left: 1.2rem;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;

    & option {
      font-family: inherit;
      font-size: inherit;
      color: #8a8a8a;
    }
  }
  &__text--location {
    grid-column: 8/10;
    grid-row: 1/2;
    align-self: center;
  }
  &__text--box {
    height: 20rem;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }
  &__text--title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem 2.5rem;
  }
}
//<!--*****************-->
//<!--collection slideShow
//*****************--><!---->
.collection {
  /* Position the image container (needed to position the left and right arrows) */
  &__slideshow {
    position: relative;
    width: 70%;
    margin: 0 auto;
    @include respond(tab-port) {
      width: 90%;
    }
  }
}
img {
  vertical-align: middle;
}
/* Hide the images by default */
.mySlides {
  display: none;
  margin: 0 auto;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #070707;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  @include respond(tab-port) {
    padding: .2rem;
    top: 60%;
  }
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  max-height: 20rem;
  //overflow: hidden;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  object-fit: cover;
}
.active,
.demo:hover {
  opacity: 1;
}