/*............................*/
/*         color             */
/*..........................*/
$color-main: #ab3f3f;
$color-main-light: #b81919;
$color-main-light-1: #cf7474;
$color-main-dark: #460000;
$color-main-so-dark: #230000;

$color-secondary: #3d3d7a;
$color-secondary-light: #6492ca;
$color-secondary-dark: #0b1024;


$color-gray: #777777;
$color-gray-light: #999999;
$color-gray-light-1: #f4f4f4;
$color-gray-light-2: #e0e0e0;
$color-gray-light-3: #cccccc;
$color-gray-dark: #676767;
$color-gray-dark-1: #666;
$color-gray-dark-2: #454444;
$color-gray-dark-3: #141414;

$color-white: #ffffff;
$color-black: #000;

/*............................*/
/*         font               */
/*............................*/
$font-family-simple: 'PT Serif', serif;
$font-family-main: 'Roboto', sans-serif;
$font-family-complex: 'Merienda', cursive;;

/*............................*/
/*         transition               */
/*............................*/
$slow: transform 0.1s, width 0.4s cubic-bezier(0.99, 0.01, 0.01, 0.99) 0.2s, background-color 0.1s;

