.btn {
  width: max-content;
  font-size: 1.4rem;
  font-family: $font-family-main;
  padding: 1rem .8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .8);
  margin: 2.5rem auto 0;

  transition: all 1s ease-in-out;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $color-white;
    color: $color-gray-dark;
    animation: anim 1.4s .1s;
  }
}

@keyframes anim {
  0% {
    text-shadow: none;
    box-shadow: none;
  }
  40% {
    //text-shadow: 0 0 5px #0f80d6;
    box-shadow: 0 0 5px #460000;
  }
  100% {
    text-shadow: 0 0 5px #e7a2a2,
    0 0 25px #a55050,
    0 0 50px #a43a3a,
    0 0 60px #852525,
    0 0 50px #671212,
    0 0 25px #460000;

    box-shadow: 0 0 5px #460000,
    0 0 25px #791919,
    0 0 50px #882929,
    0 0 60px #993d3d,
    0 0 50px #bf6d6d,
    0 0 25px #d6adad;
  }
}