.heading {
  //font-weight: 700;
  font-family: $font-family-main;
  text-transform: uppercase;
  display: inline-block;
  //margin-bottom: 1rem;
  margin-top: 1.2rem;
  animation-delay: .9s;
  animation-duration: 800ms;
}

.heading-hug {
  font-size: 5.5rem;
  font-family: $font-family-complex;
  letter-spacing: 1.6rem;
  //color: $color-main;
 background-image: linear-gradient(to right, rgb(208, 90, 90), rgb(71, 4, 4));
  //background-clip: ;
  -webkit-background-clip: text;
  color: transparent;

  @media only screen and (max-width: 910px) {
 font-size: 5rem;
  }
  @media only screen and (max-width: 500px) {
    font-size: 3.5rem;
  }
}

.heading-big {
  font-size: 3.5rem;
  font-family: $font-family-simple;
  letter-spacing: .6rem;
  //color: $color-gray-dark-3;
  display: inline-block;
  text-align: center;
  margin-top: 4.5rem;
  //
  background-image: linear-gradient(to right, rgb(160, 113, 113), rgb(45, 2, 2));
  //background-clip: ;
  -webkit-background-clip: text;
  color: transparent;

  @include respond(tab-land) {
    margin-top: 2.5rem;
  }
}

.heading-underline {
  width: 5rem;
  height: .2rem;
  background-color: $color-main-dark;
  margin: 0 auto 1rem;
}

.heading-medium {
  font-size: 2rem;
  letter-spacing: .1rem;
  color: $color-main;
  //margin-top: 3rem;
}

.heading-small {
  font-size: 1.6rem;
  display: block;
}

.center-heading {
  text-align: center;
}