.nav {
  grid-row: 2/3;
  max-height: 7rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 222222;

  &--stick {
    position: sticky;
    top: 4rem;
    left: 0;
    transition: all 1s, transform .5s;
  }

  &__icon-box {
    padding-left: 2.5rem;
    margin-top: .5rem;
  }

  &__icon-img {
    height: 5.2rem;
    @include respond(phone) {
      height: 5rem;
    }

    @media only screen and (max-width: 706px) {
      height: 3.5rem;
    }
    @include respond(most-phone) {
      height: 3.2rem;
    }
  }

  &__nav-box {
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &--ul {
    font-weight: 700;
    line-height: 1.6rem;
    @include respond(tab-port) {
      display: none;
    }
  }

  &--items {
    font-size: 1.7rem;
    padding-right: 4.5rem;
    transition: .5s ease-out;
    text-transform: uppercase;

    &:hover {
      transform: translateY(3px) scale(1.15);
    }

    @include respond(tab-land) {
      padding-right: 3.5rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
      letter-spacing: .6rem;
    }
  }

  &--link {
    color: $color-main;
  }

  &--contact {
    color: $color-main-light
  }

  @include respond(tab-port) {
    color: $color-white;
  }

}

.sticky {
  position: sticky;
  top: 0;
  background-color: $color-gray-light-1;
  transition: all 1s, transform .5s;
}

.collapse-nav {
  font-weight: 700;
  background-color: rgba($color-secondary-dark, .95);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50rem;

  //animation: anim 1s infinite;

  transition: all 1s, transform .5s;

  &__box {
    display: none;
    transition: all 1s, transform .5s;
    @include respond(tab-port) {
      display: inline-block;

    }
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: transparent;
    z-index: 100000;
    margin-right: 2.5rem;
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $color-main-dark;
  }
}

.hidden {
  transform: translateY(-30rem);
  display: none;
}

@keyframes anim {
  0% {
    text-shadow: none;
    box-shadow: none;
  }
  40% {
    text-shadow: 0 0 5px #0f80d6;
    box-shadow: 0 0 5px #0f80d6;
  }
  100% {
    text-shadow: 0 0 5px #0f80d6,
    0 0 25px #3336e5,
    0 0 50px #57bab2,
    0 0 60px #5da3a5,
    0 0 80px #a0d8e9,
    0 0 100px #acd2ec;

    box-shadow: 0 0 5px #0f80d6,
    0 0 25px #3336e5,
    0 0 50px #57bab2,
    0 0 60px #5da3a5,
    0 0 80px #a0d8e9,
    0 0 100px #a8d0ec;
  }
}

//@keyframes drop {
//  0% {
//    height: 0;
//    transform: translateY(5rem);
//  }
//  50% {
//    height: 25rem;
//  }
//  100% {
//    height: 50rem;
//  }
//}
