.nav {
  grid-row: 2/3;
  max-height: 7rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 222222;

  &--stick {
    position: sticky;
    top: 4rem;
    left: 0;

    transition: all 1s, transform .5s;
  }

  &__icon-box {
    padding-left: 2.5rem;
    margin-top: .5rem;
    cursor: none;
  }

  &__icon-img {
    height: 5.2rem;
    @include respond(phone) {
      height: 5rem;
    }

    @media only screen and (max-width: 706px) {
      height: 3.5rem;
    }
    @include respond(most-phone) {
      height: 3.2rem;
    }
  }

  &__nav-box {
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &--ul {
    font-weight: 700;
    line-height: 1.6rem;
    @include respond(tab-port) {
      display: none;
    }
  }

  &--items {
    font-size: 1.7rem;
    padding-right: 4.5rem;
    transition: .5s ease-out;
    text-transform: uppercase;
    &:hover,
    &:visited {
      transform: translateY(3px) scale(1.15);
    }

    @include respond(tab-land) {
      padding-right: 3.5rem;
    }
    @media only screen and (min-width: 900px) and (max-width: 1100px) {
      padding-right: 3rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
      letter-spacing: .6rem;
    }
  }

  &--link {
    color: $color-main;
    font-family: $font-family-simple;
     @include respond(tab-port) {
    color: $color-white!important;
  }
  }

  &--contact {
    color: $color-main-light
  }
}

.sticky {
  position: sticky;
  top: 0;
  background-color: $color-gray-light-1;
  transition: all 1s, transform .9s;
}

.collapse-nav {
  font-weight: 700;
  background-color: rgba($color-secondary-dark, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50rem;
 animation: drop .5s ease-in-out normal;
  //transition: all 1s, transform .8s;

  &__box {
    display: none;
    transition: all 1s, transform .5s;
    @include respond(tab-port) {
      display: inline-block;

    }
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: transparent;
    z-index: 100000;
    margin-right: 2.5rem;
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $color-main-dark;
  }
}

.hidden {
  transform: translateY(-30rem);
  display: none;
}

@keyframes drop {
  0% {
    height: 0;
    transform: translateY(2rem);
  }
  30% {
    height: 40rem;
    transform: translateY(1.75rem);
    opacity: .5;
    background-color: rgba(#b81919, .35);
  }
  50% {
    height: 30rem;
    transform: translateY(1.5rem);
    opacity: .2;
    background-color: rgba(#b81919, .35);
  }
  80% {
    height: 35rem;
    transform: translateY(1rem);
    opacity: .4;
    background-color: rgba(#6492ca, .5);
  }
  90% {
    height: 45rem;
    transform: translateY(.5rem);
    opacity: .8;
  }
  100% {
    height: 50rem;
    transform: translateY(0);
    opacity: 1;
    background-color: rgba($color-secondary-dark, .95);
  }
}

.active__links {
  color: $color-main-light-1;
  text-shadow: 0 1rem 1rem #646262;
}

