
.more-activities {
  &__contents {
//position: relative;
  }

  &__title {
    position: relative;
    height: 30rem;
width: 30rem;
    text-align: center;
  }
 &__heading--box {
   height: 100%;
   width: 100%;
    position: absolute;
   top: 2rem;
    left: 1rem;
   background-color: #460000;
   clip-path: circle(50% at 50% 50%);

  }
  &__heading {
margin: auto;
  }
  &__date {
    height: 50%;
   width: 50%;
    position: absolute;
   bottom: -4rem;
    right: 1rem;
    background-color: gray;
clip-path: circle(50% at 50% 50%);
  }
  &__header {
    height: 60vh;
    background-image: url("../img/activities.png");
    background-size: cover;
    background-position: top;
  }



  &__heading--place {
      position: absolute;
      bottom: 5rem;
      left: 50%;
    }

}