.admin {
  width: 80%;
  margin: 0 auto;

  & > * {
    font-size: 1.6rem;
    color: black;
    margin: 1.5rem 2.5rem;
  }


  &__header {
    background-color: #eee;
  }

  &__ul {
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  textarea,
  label {
    display: block;
    border-radius: 5px;
    //margin-left: 5rem;
  }

  &__title {
    width: 80%;
  }


  &__div {
      border-bottom: 5px solid #020202;
    & > :not(:last-child) {
      font-size: 1.4rem;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
    }

    & :last-child {
      padding: .8rem 1rem;
      margin-left: 2.2rem;
      margin-bottom: 1.2rem;
      border-radius: 5px;
    }
  }

  &__home-activities {
    & :last-child {
      padding: .8rem 1rem;
      margin: 2.2rem 5rem;
      border-radius: 8px;
    }
  }

  &__home-gallery {
    img {
      margin: 2rem;
    }
  }

  //table part
  &__stories--table {
    margin-left: 2.2rem;
      tr:nth-of-type(odd) {
      background-color: #4d8683;
    }
  }

  &__tr {
    & > * {
      padding: 1rem 2.5rem 0;
      text-align: center;
    }



  }

  &__checkbox {
    transform: scale(1.4);
  }
}