.history {
  //position: relative;
  max-height: 100rem;
  //height: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5rem;
  @include respond(phone) {
    margin: .5rem 1.75rem;
  }
  @include respond(phone) {
flex-direction: column;
  }

  &__megha {
    height: 50rem;
    width: 50rem;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    flex: 0 0 40rem;
    padding: 2.5rem 3.5rem;
    //position: absolute;
    //top: 6%;
    //right: 10%;
  }

  &__context {
    // position: absolute;
    //top: 2.5rem;
    //left: 5%;
    max-height: 200rem;
    width: 50vw;
    //padding-right: 10rem;
    flex: 0 0 1;
  }

  &__paragraph {
    //clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    //background-color: white;
    color: $color-gray;
    font-size: 1.6rem;
    //width: 60vw;
    //height: 90%;
    padding: 2.75rem;
    text-align: justify;
    font-style: italic;
    @include respond(phone) {
      padding: 1.75rem;
    }
  }

  &__read-more {
    color: $color-gray;
    cursor: pointer;
  }
}

.stories {
  background-color: transparent;

  &__header {
    background: url("../img/stories-bg.jpg") top;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__section {
    position: relative;
    z-index: 100;
    margin-bottom: 10rem;
  }

  &__content {
    width: 75%;
    transform: skewX(-12deg);
    background-color: #fffbee;
    margin: 5rem auto;
    z-index: 100;
    @media only screen and (max-width: 570px) {
      transform: skewX(0);
    }
  }

  &__box {
    width: 100%;
    height: 30rem;
    transform: skewX(12deg);
    padding: 1.75rem 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //filter: drop-shadow(0 15px 30px rgb(222, 45, 13));
    @include respond(tab-port) {
      padding: 2rem 5rem;
    }
    @include respond(phone) {
      padding: 1.5rem 5rem;
      margin-left: 1rem;
    }
    @include respond(small-phone) {
      padding: 1.5rem 2.9rem;
    }
    @media only screen and (max-width: 570px) {
      transform: skewX(0);
      margin-left: 0;
      padding: 1rem .4rem;
      text-align: justify;
    }
  }

  &__box--shadow {
    position: absolute;
    width: 70%;
    height: 20rem;
    bottom: -7rem;
    right: 15.5rem;
    background-color: #bfbaa9;
    transform: skewX(-12deg);
    z-index: -1;
    margin: 4.5rem auto;
@media only screen and (max-width: 1300px) {
  right: 12.5rem;
}
    @media only screen and (max-width: 570px) {
      transform: skewX(0);
      right: 10rem;
    }
    @media only screen and (max-width: 500px) {
      right: 7.5rem;
    }
  }
}
