.history {
  position: relative;
  max-height: 100rem;
  height: 60rem;

  //justify-content: space-between;

  &__carola {
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 3.5rem;
    left: 3.8%;
    opacity: .8;
    filter: grayscale(100%);
  }

  &__megha {
    height: 36rem;
    width: 30rem;
    position: absolute;
    bottom: -10rem;
    right: 5%;
  }

  &__context {
    position: absolute;
    top: 2.5rem;
    left: 25%;
    color: $color-gray-dark-2;
    font-size: 1.6rem;
    width: 50%;
    height: inherit;
    padding: 2.75rem;
    text-align: justify;
    font-style: italic;
    font-weight: bold;
  }
  &__read-more{
    color: $color-gray;
    cursor: pointer;
  }
}

.stories {
  background-color: black;

  &__header {
    background: url("../img/stories-bg.jpg") top;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header__heading {

    //margin-top: 2.2rem;
  }

  &__section {
    position: relative;
    z-index: 100;
  }

  &__content {
    width: 75%;
    transform: skewX(-12deg);
    background-color: #fffbee;
    margin: 5rem auto;
    z-index: 100;
    @media only screen and (max-width: 570px) {
      transform: skewX(0);
    }
  }

  &__box {
    width: 100%;
    height: 25rem;
    transform: skewX(12deg);
    padding: 1.75rem 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    //filter: drop-shadow(0 15px 30px rgb(222, 45, 13));
    @include respond(tab-port) {
      padding: 2rem 5rem;
    }
    @include respond(phone) {
      padding: 1.5rem 5rem;
      margin-left: 1rem;
    }
    @include respond(small-phone) {
      padding: 1.5rem 2.9rem;
    }
    @media only screen and (max-width: 570px) {
      transform: skewX(0);
      margin-left: 0;
      padding: 1rem .4rem;
      text-align: justify;
    }
  }

  &__box--shadow {
    position: absolute;
    width: 70%;
    height: 20rem;
    bottom: -7rem;
    right: 12.5rem;
    background-color: #bfbaa9;
    transform: skewX(-12deg);
    z-index: -1;
    margin: 4.5rem auto;

    @media only screen and (max-width: 570px) {
      transform: skewX(0);
      right: 10rem;
    }
    @media only screen and (max-width: 500px) {
      right: 7.5rem;
    }
  }
}
