.moreMembers__header {
  height: 80vh;
  background-image: linear-gradient(to right, rgba($color-gray-dark-3, .35), rgba($color-gray, .5)), url("../img/backgrounds/bg-members.JPG");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

  &__heading {
    text-align: center;
  }
}

.moreMembers {
  margin-bottom: 10rem;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 5rem;

    & > * {
      margin: 5rem 5rem;
    }
  }

  &__card {
    max-width: 35rem;
    width: 100%;
    height: 50rem;
    background-color: rgba($color-white, 0.5);
  }

  &__fig {
    position: relative;
    margin-left: 2.2rem;
  }

  &__shadow {
    position: absolute;
    top: 2.5rem;
    left: -2.5rem;
    height: 25rem;
    width: 25rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &__img--box {
    height: 30rem;
    width: 30rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    //border: 10px solid black;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

